#header4-k H1 {
  color: #000000;
}
#dropdown-menu-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-f .nav .link,
#dropdown-menu-f .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-f .navbar,
#dropdown-menu-f .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-f .dropdown-menu a:hover,
#dropdown-menu-f .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-f .navbar-toggler {
  color: #000000;
}
#footer1-g P {
  text-align: center;
}
#header4-e H1 {
  color: #000000;
}
#dropdown-menu-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3 .nav .link,
#dropdown-menu-3 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-3 .navbar,
#dropdown-menu-3 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3 .dropdown-menu a:hover,
#dropdown-menu-3 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-3 .navbar-toggler {
  color: #000000;
}
#footer1-4 P {
  text-align: center;
}
#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#header4-a H1 {
  color: #000000;
}
#msg-box3-4 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#footer1-0 P {
  text-align: center;
}
#dropdown-menu-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-n .nav .link,
#dropdown-menu-n .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-n .navbar,
#dropdown-menu-n .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-n .dropdown-menu a:hover,
#dropdown-menu-n .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-n .navbar-toggler {
  color: #000000;
}
#footer1-o P {
  text-align: center;
}
#header4-p I {
  font-size: 60px;
}
#msg-box3-q .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-q .lead P {
  text-align: center;
}
@isPublish: true;

#dropdown-menu-17 {
.hide-buttons [data-button] {
  display: none !important;
}
.navbar-brand a {
}
.nav .link, .dropdown-item {
  font-size: 1em;
  color: #000000;
}
.navbar, .dropdown-menu {
  background: #ffffff;
}
.dropdown-menu .dropdown-toggle[aria-expanded="true"], .dropdown-menu a:hover, .dropdown-menu a:focus {
  background: #f5f5f5;
}
.navbar-toggler {
  color: #000000;
}
}

#footer1-18 {
P {
  text-align: center;
}
}

#header1-1g {
}

#gallery1-1h {
}

#content5-1n {
}

#social-buttons2-1c {
}

#design-block-yyoKZKTnSf {
padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
background-color: @bgColor;
h2 {
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 2rem;
}
.mbr-slider .carousel-control {
  background: #1b1b1b;
}
.mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: @overlayColor;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  & when (@gradOverlay) {
    background: linear-gradient(to left, @overlayColor, @overlayColor2) !important;
  }
}
.mbr-gallery-item > div:hover {
  .mbr-gallery-title::before {
    background: transparent !important;
  }
  &:before {
    opacity: @overlayOpacity !important;
  }
}
.mbr-gallery-filter-all > a {
  padding: 30px;
  background-color: transparent !important;
  color: @tagsColor;
}
.mbr-section-title {
  padding-bottom: 2rem;
  margin: 0;
  p {
    margin: 0;
  }
}
.mbr-gallery-filter {
  padding-top: 0;
  padding-bottom: 2rem;
  .btn {
    text-transform: uppercase;
    color: @tagsColor;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0px !important;
    border: none;
    padding: 12px 15px 12px 15px;
    &:hover {
      background-color: transparent;
    }
  }
  li.active .btn {
    background-color: transparent;
    color: @activeTagColor;
  }
}
.mbr-gallery-title {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
  &:before {
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background: @overlayColor !important;
    opacity: @overlayOpacity;
    -webkit-transition: 0.2s background ease-in-out;
    transition: 0.2s background ease-in-out;
    & when (@gradOverlay) {
      background: linear-gradient(to left, @overlayColor, @overlayColor2) !important;
    }
  }
}
}

#design-block-WONyhM6a2U {
padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
background-color: @bgColor;
h2 {
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 2rem;
}
.mbr-slider .carousel-control {
  background: #1b1b1b;
}
.mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: @overlayColor;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  & when (@gradOverlay) {
    background: linear-gradient(to left, @overlayColor, @overlayColor2) !important;
  }
}
.mbr-gallery-item > div:hover {
  .mbr-gallery-title::before {
    background: transparent !important;
  }
  &:before {
    opacity: @overlayOpacity !important;
  }
}
.mbr-gallery-filter-all > a {
  padding: 30px;
  background-color: transparent !important;
  color: @tagsColor;
}
.mbr-section-title {
  padding-bottom: 2rem;
  margin: 0;
  p {
    margin: 0;
  }
}
.mbr-gallery-filter {
  padding-top: 0;
  padding-bottom: 2rem;
  .btn {
    text-transform: uppercase;
    color: @tagsColor;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0px !important;
    border: none;
    padding: 12px 15px 12px 15px;
    &:hover {
      background-color: transparent;
    }
  }
  li.active .btn {
    background-color: transparent;
    color: @activeTagColor;
  }
}
.mbr-gallery-title {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
  &:before {
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background: @overlayColor !important;
    opacity: @overlayOpacity;
    -webkit-transition: 0.2s background ease-in-out;
    transition: 0.2s background ease-in-out;
    & when (@gradOverlay) {
      background: linear-gradient(to left, @overlayColor, @overlayColor2) !important;
    }
  }
}
}
#dropdown-menu-1o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1o .nav .link,
#dropdown-menu-1o .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-1o .navbar,
#dropdown-menu-1o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1o .dropdown-menu a:hover,
#dropdown-menu-1o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1o .navbar-toggler {
  color: #000000;
}
#footer1-1p P {
  text-align: center;
}
